---
title: TOP
gnav: top
description:
---

{% extends 'base/index.njk' %}

{# ページ固有CSS ================================= -#}
{% block css -%}
{%- endblock %}

{# ページ固有JS ================================== -#}
{% block js -%}
{%- endblock %}

{# コンテンツ ==================================== -#}
{% block main -%}
  <h1>{{ site.name }}</h1>
  <div class="mx-auto w-fit px-4 py-10">
    <h2 class="font-bolt mb-4 text-2xl">News一覧</h2>
    <ul class="grid-col-2 grid w-fit gap-4 md:grid-cols-3">
      {%- for item in collections.news | reverse -%}{% if loop.index <= 3 %}
        {# 新着 3件 #}
        {% include "components/news_item.njk" %}
      {% endif %}{%- endfor -%}
    </ul>
    <p class="mt-6 text-center"><a href="{{ site.root }}news/" class="underline decoration-1 underline-offset-1 hover:no-underline">News一覧を見る</a></p>
  </div>
  <img src="/img/360x360.png" alt="" width="360" height="360" loading="lazy" eleventy:formats="webp" />
  <img src="/img/360x360.png" alt="テスト" eleventy:widths="180,360" loading="lazy" eleventy:formats="webp,png" />

  <div class="apply-sample">Sample</div>
  <div class="tw-card scrollbar-hidden">
    card
    <br />
    card
    <br />
    card
    <br />
    card
    <br />
    card
    <br />
    card
    <br />
    card
  </div>
{%- endblock %}
