---
title: DATA | TEMPLATE
category: template
description: desctiptionが入ります。
breadcrumbs:
  - name: 'TEMPLATE'
    item: '/_template/'
  - name: 'DATA'
    item: '/_template/data/'
---

{% extends 'base/index.njk' %}

{# ページ固有CSS ================================= -#}
{% block css -%}
{%- endblock %}

{# ページ固有JS ================================== -#}
{% block js -%}
{%- endblock %}

{# コンテンツ ==================================== -#}
{% block main -%}
  <table class="my-12 table-fixed border-collapse border border-slate-400 text-sm">
    <caption class="mb-4 text-left text-xl font-bold">Frontmatter出力例</caption>
    <colgroup>
      <col />
      <col />
      <col />
      <col />
    </colgroup>
    <thead>
      <tr class="border border-slate-400 bg-gray-200">
        <th class="border-slate-40 border p-2">変数名</th>
        <th class="border-slate-40 border p-2">出力結果</th>
        <th class="border-slate-40 border p-2">内容</th>
        <th class="border-slate-40 border p-2">備考</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ title }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">{{ title }}</code>
        </td>
        <td class="border border-slate-400 p-2">ページタイトル</td>
        <td class="border border-slate-400 p-2 text-xs"></td>
      </tr>
      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ description }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">{{ description }}</code>
        </td>
        <td class="border border-slate-400 p-2">ディスクリプション</td>
        <td class="border border-slate-400 p-2 text-xs"></td>
      </tr>
    </tbody>
  </table>

  <table class="my-12 table-fixed border-collapse border border-slate-400 text-sm">
    <caption class="mb-4 text-left text-xl font-bold">page変数一覧</caption>
    <thead>
      <tr class="border border-slate-400 bg-gray-200">
        <th class="border-slate-40 border p-2">変数名</th>
        <th class="border-slate-40 border p-2">出力結果</th>
        <th class="border-slate-40 border p-2">内容</th>
        <th class="border-slate-40 border p-2">備考</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ page.url }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">{{ page.url }}</code>
        </td>
        <td class="border border-slate-400 p-2">リンクURL（ルート相対）</td>
        <td class="border border-slate-400 p-2 text-xs">
          Frontmatterで
          <code>permalink</code>
          に
          <code>false</code>
          を設定すると
          <code>false</code>
          を返す（ページが生成されない）
        </td>
      </tr>

      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ page.fileSlug }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">{{ page.fileSlug }}</code>
        </td>
        <td class="border border-slate-400 p-2">スラッグ</td>
        <td class="border border-slate-400 p-2 text-xs">
          ファイル名が
          <code>index.njk</code>
          のとき：ディレクトリ名
          <br />
          ファイル名が
          <code>index.njk</code>
          以外のとき：ファイル名
        </td>
      </tr>

      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ page.filePathStem }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">{{ page.filePathStem }}</code>
        </td>
        <td class="border border-slate-400 p-2">ページURLから拡張子を抜いたもの</td>
        <td class="border border-slate-400 p-2 text-xs"></td>
      </tr>

      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ page.date }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">{{ page.date }}</code>
        </td>
        <td class="border border-slate-400 p-2">日付</td>
        <td class="border border-slate-400 p-2 text-xs">
          デフォルトはページ作成日時：
          <code>date: Created</code>
          <br />
          最終更新日：
          <code>date: Last Modified</code>
          <br />
          最終コミット日：
          <code>date: git Last Modified</code>
          <br />
          初回コミット日：
          <code>date: git Created</code>
          <br />
          <a href="https://yaml.org/type/timestamp.html" target="_blank" class="underline">YAML形式</a>
          の日付：
          <code>date: 2025-01-01</code>
        </td>
      </tr>

      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ page.inputPath }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">{{ page.inputPath }}</code>
        </td>
        <td class="border border-slate-400 p-2">入力ファイルパス</td>
        <td class="border border-slate-400 p-2 text-xs">
          <code>dir.input</code>
          も含む
        </td>
      </tr>

      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ page.outputPath }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">{{ page.outputPath }}</code>
        </td>
        <td class="border border-slate-400 p-2">出力ファイルパス</td>
        <td class="border border-slate-400 p-2 text-xs">
          <code>dir.output</code>
          も含む
        </td>
      </tr>
      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ page.outputFileExtension }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">{{ page.outputFileExtension }}</code>
        </td>
        <td class="border border-slate-400 p-2">出力ファイル拡張子</td>
        <td class="border border-slate-400 p-2 text-xs">
          <code>page.filePathStem</code>
          と組み合わせて
          <code>permalink</code>
          を変更する際などに使用
          <br />
          <code>permalink: "{% raw %}{{ page.filePathStem }}.{{ page.outputFileExtension }}{% endraw %}"</code>
        </td>
      </tr>

      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ page.templateSyntax }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">{{ page.templateSyntax }}</code>
        </td>
        <td class="border border-slate-400 p-2">テンプレート言語</td>
        <td class="border border-slate-400 p-2 text-xs"></td>
      </tr>

      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ page.rawInput }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">-</code>
        </td>
        <td class="border border-slate-400 p-2">ファイル内容（Frontmatter以外）のテキストデータ</td>
        <td class="border border-slate-400 p-2 text-xs"></td>
      </tr>
    </tbody>
  </table>

  <table class="my-12 table-fixed border-collapse border border-slate-400 text-sm">
    <caption class="mb-4 text-left text-xl font-bold">_data/site.json</caption>
    <colgroup>
      <col />
      <col />
      <col />
      <col />
    </colgroup>
    <thead>
      <tr class="border border-slate-400 bg-gray-200">
        <th class="border-slate-40 border p-2">変数名</th>
        <th class="border-slate-40 border p-2">出力結果</th>
        <th class="border-slate-40 border p-2">内容</th>
        <th class="border-slate-40 border p-2">備考</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ site.name }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">{{ site.name }}</code>
        </td>
        <td class="border border-slate-400 p-2">サイト名</td>
        <td class="border border-slate-400 p-2 text-xs"></td>
      </tr>
      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ site.url }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">{{ site.url }}</code>
        </td>
        <td class="border border-slate-400 p-2">サイトURL</td>
        <td class="border border-slate-400 p-2 text-xs"></td>
      </tr>
      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ site.root }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">{{ site.root }}</code>
        </td>
        <td class="border border-slate-400 p-2">ルートディレクトリ</td>
        <td class="border border-slate-400 p-2 text-xs"></td>
      </tr>
      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ site.og_image }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">{{ site.og_image }}</code>
        </td>
        <td class="border border-slate-400 p-2">サイト共通OG:IMAGE</td>
        <td class="border border-slate-400 p-2 text-xs"></td>
      </tr>
      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ site.root }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">{{ site.root }}</code>
        </td>
        <td class="border border-slate-400 p-2">ルートディレクトリ</td>
        <td class="border border-slate-400 p-2 text-xs"></td>
      </tr>
      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ site.og_image }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">{{ site.og_image }}</code>
        </td>
        <td class="border border-slate-400 p-2">og:imageのパス</td>
        <td class="border border-slate-400 p-2 text-xs"></td>
      </tr>
      <tr>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-orange-400">{% raw %}{{ site.twittercard }}{% endraw %}</code>
        </td>
        <td class="border border-slate-400 p-2">
          <code class="rounded bg-gray-800 px-2 py-1 font-mono text-xs text-white">{{ site.twittercard }}</code>
        </td>
        <td class="border border-slate-400 p-2">twittercardのパス</td>
        <td class="border border-slate-400 p-2 text-xs"></td>
      </tr>
    </tbody>
  </table>
{%- endblock %}
