<ol class="c-pager w-fit mx-auto flex gap-2">
  <li><a{% if page.url != pagination.href.first %} href="{{ pagination.href.first }}" class="underline hover:no-underline" aria-label="最初のページ"{% else %} class="no-underline pointer-events-none" aria-hidden="true"{% endif %}>&lt;&lt;</a></li>
  <li><a{% if pagination.href.previous %} href="{{ pagination.href.previous }}" class="underline hover:no-underline" aria-label="前のページ"{% else %} class="no-underline pointer-events-none" aria-hidden="true"{% endif %}>&lt;</a></li>
  {%- for pageEntry in pagination.pages %}
  <li><a href="{{ pagination.hrefs[loop.index0] }}"{%- if page.url == pagination.hrefs[loop.index0] %} aria-current="page" class="no-underline pointer-events-none" {% else %} class="underline hover:no-underline"{% endif %} >{{loop.index}}</a></li>
  {%- endfor %}
  <li><a{% if pagination.href.next %} href="{{ pagination.href.next }}" class="underline hover:no-underline" aria-label="次のページ"{% else %} class="no-underline pointer-events-none" aria-hidden="true"{% endif %}>&gt;</a></li>
  <li><a{% if page.url != pagination.href.last %} href="{{ pagination.href.last }}" class="underline hover:no-underline" aria-label="最後のページ"{% else %} class="no-underline pointer-events-none" aria-hidden="true"{% endif %}>&gt;&gt;</a></li>
</ol>

